body {
  font-family: Helvetica, sans-serif;
  animation-duration: 2s;
  transition: all 250ms ease-in-out;
}

.capture {
  border: wheat 2px dashed;
  padding: 8px;
  transition: all 300ms ease-in-out;
}
.d-flex {
  display: flex;
}
.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.text-center {
  text-align: center;
}
.text-bg-dark {
  color: #fff;
  background-color: rgba(33, 37, 41, 1);
}
.cover-container {
  max-width: 42em;
}
.mb-auto {
  margin-bottom: auto;
}
.mb-0 {
  margin-bottom: 0;
}
.p-3 {
  padding: 1rem;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.flex-column {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-masthead .nav-link {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 0.25rem solid transparent;
}
.nav-masthead .nav-link {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 0.25rem solid transparent;
}
.fw-bold {
  font-weight: 700;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.px-0 {
  padding-right: 0;
  padding-left: 0;
}
.nav-link {
  display: block;
  text-decoration: none;
}
.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  color: #333;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border-radius: 1rem;
  background-color: white;
  transition: all 500ms ease-in-out;
}
.btn-lg .btn-secondary {
  color: #333;
  text-shadow: none;
}

.fw-bold {
  font-weight: 700;
}
.mt-25 {
  margin-top: 25%;
}
.mt-10 {
  margin-top: 10%;
}
.buttonload {
  background-color: salmon;
  color: white;
  transform: scale(110%);
}
.strong {
  color: #fa8072;
  font-weight: bold;
}

@media (min-width: 768px) {
  .float-md-start {
    float: left;
  }
  .float-md-end {
    float: right;
  }
}

@keyframes flash {
   from {background-color: salmon;}
  to {background-color: lightblue;}
}
